<div id="<%= dom_id mark %>">
  <p>
    <strong>Student:</strong>
    <%= mark.student_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= mark.task_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= mark.date %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= mark.mark %>
  </p>

</div>
