<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Create an account</h2>
          <%= form_for(resource, as: resource_name, url: teacher_registration_path) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= puts "Отладочные данные:" %>
            <%= puts "Resource: #{resource.inspect}" %>
            <%= puts "Resource Name: #{resource_name.inspect}" %>
            <div class="form-outline mb-4">
              <%= f.label :first_name, class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control form-control-lg", placeholder: "Your First Name" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :middle_name, class: "form-label" %>
              <%= f.text_field :middle_name, class: "form-control form-control-lg", placeholder: "Your Middle Name" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :last_name, class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control form-control-lg", placeholder: "Your Last Name" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Your Email" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :password, class: "form-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Your Password" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Repeat Your Password" %>
            </div>

            <div class="d-flex justify-content-center">
              <%= f.submit "Sign up", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
            </div>
          <% end %>

          <p class="text-center text-muted mt-5 mb-0">Have already an account?
            <%= link_to "Login here", new_teacher_session_path, class:"fw-bold text-body" %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>