<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= task.lesson_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= task.notes %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= task.material %>
  </p>

  <p>
    <strong>Max mark:</strong>
    <%= task.max_mark %>
  </p>

</div>
