<div id="<%= dom_id student %>" class="mt-4 p-3 border rounded">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= student.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong class="card-text">Groups:</strong>
    <% student.groups.each do |group| %>
      <%= group.name %><br>
    <% end %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Preferred Currency:</strong>
    <%= student.currency %>
  </p>
  <p>
    <strong>Currency Rates:</strong>
  <ul>
    <% student.currency_rates.each do |currency, rate| %>
      <li><%= currency %>: <%= rate %></li>
    <% end %>
  </ul>
  </p>
</div>
