<div id="<%= dom_id student %>" class="mt-4 p-3 border rounded">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= student.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong class="card-text">Groups:</strong>
    <% student.groups.each do |group| %>
      <%= group.name %><br>
    <% end %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>
</div>
