<div class="container mt-3">
  <p class="text-success"><%= notice %></p>

  <%= render @group %>

  <% if @group.students.any? %>
    <h2>Students:</h2>
    <ul>
      <% @group.students.each do |student| %>
        <li><%= student.first_name %>  <%= student.middle_name %> <%= student.last_name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No students in this group.</p>
  <% end %>

  <% if teacher_signed_in? %>
    <%= form_with(model: @group, url: add_students_group_path(@group), method: :post, class: "student-form") do |f| %>
      <div class="row g-3">
        <div class="col-md-6">
          <%= text_field_tag :search, nil, placeholder: "Search students", class: "form-control search-input" %>
        </div>
      </div>
      <div class="row g-3 mt-3">
        <div class="col-md-6">
          <%= f.label "Select students to add:" %>
          <div class="student-list" style="max-height: 200px; overflow-y: auto;">
            <% Student.where.not(id: @group.student_ids).each do |student| %>
              <div class="form-check">
                <%= check_box_tag "group[student_ids][]", student.id, @group.students.exclude?(student), class: "form-check-input" %>
                <%= label_tag "group_student_ids_#{student.id}", student.full_name, class: "form-check-label" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row g-3 mt-3">
        <div class="col-md-6">
          <%= f.submit "Add Students", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
