<div class="d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>
  <h1><%= t("groups") %></h1>
  <div id="groups" class="row row-cols-1 row-cols-md-3 g-1">
    <% if current_student %>
      <% current_student.groups.each do |group| %>
        <div class="col mb-2">
          <div class="card" style="width: 18rem;" id="<%= dom_id group %>">
            <div class="card-body">
              <%= render group %>
              <p>
                <%= link_to "#{t("common.show")} #{t("group")}" , group, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @groups.each do |group| %>
        <div class="col mb-2">
          <div class="card" style="width: 18rem;" id="<%= dom_id group %>">
            <div class="card-body">
              <%= render group %>
              <p>
                <%= link_to "#{t("common.show")} #{t("group")}", group, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if teacher_signed_in? %>
    <%= link_to "#{t("common.new")} #{t("group")}", new_group_path, class: "btn btn-secondary" %>
  <% end %>
</div>
