<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<%= stylesheet_link_tag "chatroom", "data-turbo-track": "reload" %>

<% if teacher_signed_in? %>
  <input type="hidden" id="currentUserType" value="Teacher">
  <input type="hidden" id="currentUserId" value="<%= current_teacher.id %>">
  <input type="hidden" id="currentUserName" value="<%= current_teacher.middle_name %>">
<% elsif student_signed_in? %>
  <input type="hidden" id="currentUserType" value="Student">
  <input type="hidden" id="currentUserId" value="<%=  current_student.id %>">
  <input type="hidden" id="currentUserName" value="<%=  current_student.middle_name %>">
<% end %>

<section class="message-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="chat-area">
          <div class="chatlist">
            <div class="modal-dialog-scrollable chatbox">
              <div class="modal-content">
                <div class="chat-header">
                  <h1>Chatroom</h1>
                </div>
                <div class="modal-body">
                  <div class="msg-body">
                    <ul id="messages">
                      <% @messages.each do |message| %>
                        <% if message.recipient_id == @current_user.id %>
                          <li class="replay">
                            <p><%= message.content %></p>
                        <% else %>
                          <li class="sender">
                            <p><%= find_user_name(message.recipient_type, message.recipient_id) %>: <%= message.content %></p>
                        <% end %>
                        <span class="time"><%= message.created_at.strftime("%H:%M %p") %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="send-box">
                  <input type="text" class="form-control" data-behavior="room_speaker" id="message_input" placeholder="Type your message here...">
                  <button id="send_button" class="btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                </div>
                <div class="buttons">
                  <button id="connectButton" class="btn btn-primary">Connect to chat</button>
                  <button id="disconnectButton" class="btn btn-danger">Disconnect from chat</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bootstrap JS (make sure it's at the end of the body) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const userType = '<%= @user_type %>';
    const userId = '<%= @user_id %>';
</script>