<div class="d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>

  <h1><%= t("subjects") %></h1>

  <div id="subject" class="row row-cols-1 row-cols-md-3 g-1">
    <% @subjects.each do |subject| %>
      <div class="col mb-2">
        <div class="card" style="width: 18rem;" id="<%= dom_id subject %>">
          <div class="card-body">
            <%= render subject %>
            <p>
              <%= link_to t("show"), subject, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if teacher_signed_in? %>
    <%= link_to t("common.new"), new_subject_path, class: "btn btn-secondary" %>
  <% end %>
  <% if student_signed_in? || teacher_signed_in? %>
    <%= link_to 'Export as CSV', export_csv_subjects_path(format: :csv), class: "btn btn-secondary" %>
  <% end %>
</div>
