<%= form_with(model: lesson, class: "mt-4") do |form| %>
  <% if lesson.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <%= form.hidden_field :subject_id, value: params[:subject_id] %>

  <div class="mb-3">
    <%= form.label :notes, class: "form-label" %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :lesson_type, class: "form-label" %>
    <%= form.select :lesson_type, Lesson.lesson_types.keys, { include_blank: "Select Lesson Type" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :lesson_time, class: "form-label" %>
    <%= form.select :lesson_time, Lesson.lesson_times.keys, { include_blank: "Select Lesson Time" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
