<div id="<%= dom_id lesson %>" class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Title: <%= lesson.title %></h5>
    <p class="card-text">Subject: <%= lesson.subject_id %></p>
    <p class="card-text">Notes: <%= lesson.notes %></p>
    <p class="card-text">Lesson type: <%= lesson.lesson_type %></p>
    <p class="card-text">Time : <%= lesson.lesson_time %></p>
    <p class="card-text">Date: <%= lesson.date %></p>
    <% lesson.tasks.each_with_index do |task, index| %>
      <p><%= index + 1 %>. Title: <%= task.title %> (Max Mark: <%= task.max_mark %>)
        <%= link_to "View Task", task_path(task), class: "btn btn-primary btn-sm ml-2" %>
      </p>
    <% end %>
  </div>
</div>
