<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= lesson.subject_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= lesson.notes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= lesson.date %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher_id %>
  </p>

</div>
