<p style="color: green"><%= notice %></p>

<h1><%= t("schedule") %></h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= t("time") %></th>
    <th><%= t("schedule_legend.monday") %></th>
    <th><%= t("schedule_legend.tuesday") %></th>
    <th><%= t("schedule_legend.wednesday") %></th>
    <th><%= t("schedule_legend.thursday") %></th>
    <th><%= t("schedule_legend.friday") %></th>
    <th><%= t("schedule_legend.saturday") %></th>
    <th><%= t("schedule_legend.sunday") %></th>
  </tr>
  </thead>
  <tbody>
  <% @time_slots.each do |time| %>
    <tr>
      <td><%= time %></td>
      <% (Date.today.beginning_of_week..Date.today.end_of_week).each do |day| %>
        <% lessons = @lessons_by_day[day] || [] %>
        <% lesson_at_time = lessons.find { |lesson| lesson.lesson_time == time } %>
        <% if lesson_at_time %>
          <% lesson_type_class = case lesson_at_time.lesson_type
                                 when 'lecture' then 'bg-info'
                                 when 'seminar' then 'bg-warning'
                                 when 'practical' then 'bg-success'
                                 else ''
                                 end %>
          <td class="<%= lesson_type_class %>">
            <%= link_to lesson_at_time.title, lesson_path(lesson_at_time), class: "btn btn-sm btn-black"%>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="legend">
  <ul>
    <li><div class="legend-color bg-info"><%= t("schedule_legend.time_legend.lecture")%></div> </li>
    <li><div class="legend-color bg-warning"><%= t("schedule_legend.time_legend.seminar")%></div> </li>
    <li><div class="legend-color bg-success"><%= t("schedule_legend.time_legend.practical")%></div> </li>
  </ul>
</div>
