<div id="<%= dom_id teacher %>">
  <p>
    <strong>Teacher:</strong>
    <%= teacher.id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= teacher.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= teacher.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= teacher.degree %>
  </p>

</div>
