<div id="<%= dom_id teacher %>">
  <p>
    <strong><%= t("f_name") %>:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong><%= t("m_name") %>:</strong>
    <%= teacher.middle_name %>
  </p>

  <p>
    <strong><%= t("l_name") %>:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong><%= t("phone") %>:</strong>
    <%= teacher.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong><%= t("degree") %>:</strong>
    <%= teacher.degree %>
  </p>

</div>
